<!DOCTYPE html>
<html lang="nl">

	<head>
		<% include ./partials/meta %>
		<link rel="stylesheet" href="bundle.min.css">
	</head>

	<body class="container">

		<header>
			<% include ./partials/header %>
		</header>

		<main>
			<div id="app"><%-body%></div>
			<script src="bundle.min.js" async></script>
		</main>

		<footer>
			<% include ./partials/footer %>
		</footer>
		
	</body>

</html>